<%-include("./partials/header.ejs")%>

<div class="container container-fluid">
    <div class="prompt shadow border">
        <h3>Appointment Successfull!</h3>
        <a href="/" class="btn btn-primary">Back to home!</a>
    </div>
</div>