     <%- include('./partials/nav.ejs')  %>
     <body>
       <div class="index-main container-fluid">
         <div class="sectionOne">
           <div class="row">
             <div class="col-lg-6">
               <h1 class="sectionOne-title">
                 Uzaktan Tedaviye Başlama İmkanı
               </h1>
               <p class="sectionOne-desc">Artık tedaviye başlamanız için kliniğe gelmenize gerek yok, Uygulamamız sayesinde kliniğe gelmenize
                 gerek
                 kalmadan çene ve ağız fotoğraflarınızı sistemimiz üzerinden göndererek doktorunuzla iletişim
                 kurabilirsiniz ve gerekli tedaviye başlayabilirsiniz.</p>
               <div class="sectionOne-btn btn btn-primary">
                 <!-- toAbout -->
                 <a href="#">Tedaviye Başla!</a>
               </div>
             </div> 
             <div class="col-lg-6">
                 <img class="sectionOne-img" src="/public/images/6.jpg" alt="">
             </div>
           </div>
         </div>
       </div>   
     </body>